.header-container {
    height:60px;
    width: 100%;
    background-color: #1592E8;
    margin-left: 220px;
}

.header-container h1 {
    margin-left: 6px;
    display: flex;
}

.menu-container{
    height: 100%;
    background-color: #DEE1EC;
    position: fixed;
    width: 250px;
    transition: left 0.2s;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);

}

.menu-header-container{
    display: flex;
    flex-direction: row;
}

.menu-header-container img{
    padding: 15px;
}

.menu-header-container .links-menu-container {
    margin-top: 50px;
    height: 500px;
}

.menu-header-container .links-menu-container .link {
    text-decoration: none;
    color: #064987;
}

.menu-header-container .links-menu-container .link-div {
    height: 30px;
    width: 200px;
}

.menu-header-container .links-menu-container .link-div:hover {
    margin-left: 15px;
    color: #1592E8;
}

.conteudo-container{
    margin-left: 255px;
}

.dropbtn {
    text-decoration: none;
    color: #064987;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 120px;
    margin-top: -50px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {margin-left: 15px;}

.conteudo-pagina-container{
    margin: 25px;
}

@media screen and (max-width: 1285px) {
  .btn-tamRos {
    display: flex;
    justify-content: center;
    flex: 1;
    max-height: 30px;
  }
  .col-tamRos{
    display: flex;
    flex-direction: column;
    min-height: 100px;
    justify-content: space-around;
  }
}