.block_ {
    background-color: transparent;
    border-bottom-color: #000;
    border-bottom-style: solid;
    border-bottom-width: 1pt;
    border-left-color: #000;
    border-left-style: solid;
    border-left-width: 1pt;
    border-right-color: #000;
    border-right-style: solid;
    border-right-width: 1pt;
    border-top-color: #000;
    border-top-style: solid;
    border-top-width: 1pt;
    display: block;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0
    }
.block_1 {
    background-color: transparent;
    border-bottom-style: none;
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 0
    }
.block_2 {
    background-color: transparent;
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 0
    }
.block_3 {
    background-color: transparent;
    border-bottom-color: #000;
    border-bottom-style: solid;
    border-bottom-width: 1pt;
    border-left-color: #000;
    border-left-style: solid;
    border-left-width: 1pt;
    border-right-color: #000;
    border-right-style: solid;
    border-right-width: 1pt;
    border-top-color: #000;
    border-top-style: solid;
    border-top-width: 1pt;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0
    }
.block_4 {
    background-color: transparent;
    border-bottom-style: none;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 0
    }
.block_5 {
    background-color: transparent;
    border-bottom-color: #000;
    border-bottom-style: solid;
    border-bottom-width: 1pt;
    border-left-color: #000;
    border-left-style: solid;
    border-left-width: 1pt;
    border-right-color: #000;
    border-right-style: solid;
    border-right-width: 1pt;
    border-top-color: #000;
    border-top-style: solid;
    border-top-width: 1pt;
    display: block;
    line-height: 1.2;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: avoid;
    text-align: center;
    text-indent: 0
    }
.block_6 {
    background-color: transparent;
    border-bottom-style: none;
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0
    }
.block_7 {
    background-color: transparent;
    border-bottom-style: none;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0
    }
.block_8 {
    background-color: transparent;
    border-bottom-style: none;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 72pt
    }
.block_9 {
    background-color: transparent;
    border-bottom-style: none;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 36pt
    }
.block_10 {
    background-color: transparent;
    border-bottom-style: none;
    display: block;
    margin-bottom: 0;
    margin-left: 72pt;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 36pt
    }
.block_11 {
    background-color: transparent;
    border-bottom-style: none;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 108pt
    }
.block_12 {
    background-color: transparent;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: justify;
    text-indent: 108pt
    }
.calibre {
    color: #000;
    display: block;
    font-family: "Arial", sans-serif;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    white-space: pre-wrap
    }
.frame_ {
    display: block;
    float: left;
    height: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    overflow: hidden;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    width: 0
    }
.tab {
    white-space: pre
    }
.text_ {
    border-bottom-color: black;
    border-bottom-style: none;
    border-bottom-width: 1pt;
    border-left-color: black;
    border-left-style: none;
    border-left-width: 1pt;
    border-right-color: black;
    border-right-style: none;
    border-right-width: 1pt;
    border-top-color: black;
    border-top-style: none;
    border-top-width: 1pt;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.2;
    vertical-align: -1pt
    }
.text_1 {
    border-bottom-color: black;
    border-bottom-style: none;
    border-bottom-width: 1pt;
    border-left-color: black;
    border-left-style: none;
    border-left-width: 1pt;
    border-right-color: black;
    border-right-style: none;
    border-right-width: 1pt;
    border-top-color: black;
    border-top-style: none;
    border-top-width: 1pt;
    font-weight: bold;
    letter-spacing: 0;
    vertical-align: 0
    }
.text_2 {
    border-bottom-color: black;
    border-bottom-style: none;
    border-bottom-width: 1pt;
    border-left-color: black;
    border-left-style: none;
    border-left-width: 1pt;
    border-right-color: black;
    border-right-style: none;
    border-right-width: 1pt;
    border-top-color: black;
    border-top-style: none;
    border-top-width: 1pt;
    letter-spacing: 0;
    vertical-align: 0
    }
.text_3 {
    border-bottom-color: black;
    border-bottom-style: none;
    border-bottom-width: 1pt;
    border-left-color: black;
    border-left-style: none;
    border-left-width: 1pt;
    border-right-color: black;
    border-right-style: none;
    border-right-width: 1pt;
    border-top-color: black;
    border-top-style: none;
    border-top-width: 1pt;
    letter-spacing: 0;
    text-decoration: underline;
    vertical-align: 0
    }
.text_4 {
    border-bottom-color: black;
    border-bottom-style: none;
    border-bottom-width: 1pt;
    border-left-color: black;
    border-left-style: none;
    border-left-width: 1pt;
    border-right-color: black;
    border-right-style: none;
    border-right-width: 1pt;
    border-top-color: black;
    border-top-style: none;
    border-top-width: 1pt;
    font-weight: bold;
    letter-spacing: 0;
    text-decoration: underline;
    vertical-align: 0
    }

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }

