<!DOCTYPE HTML>
<!--
        Overflow by HTML5 UP
        html5up.net | @ajlkn
        Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Contrato #{guiMorador.morador.nome}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet" type="text/css"/>
    </h:head>
    <h:body class="is-preload">
        <div>
		<div>
                    <p style="text-align: center"><span>CONTRATO DE LOCAÇÃO RESIDENCIAL</span></p>
			<h:outputText value="&#160;" />
			<h:outputText value="&#160;" />
			<p style="text-align: center; font-weight: bold"><span>LOCADOR:</span></p>
			<h:outputText value="&#160;" />
			<p style="text-align: justify"><span style="font-weight: bold">FERNANDO OLIVEIRA CERVEIRA DE SOUSA, </span><span
					>brasileiro, solteiro, estudante de engenharia, portador da carteira de
					identidade nº 26.470.269-7, expedida pelo DETRAN/RJ, inscrito no C.P.F. sob o nº 112.680.357-00,
					residente nesta cidade.</span></p>
			<h:outputText value="&#160;" />
			<h:outputText value="&#160;" />
			<p style="text-align: center; font-weight: bold"><span>LOCATÁRIO</span><span>:</span>
			</p>
			<h:outputText value="&#160;" />
                        <p style="text-align: justify"><span style="font-weight: bold">#{guiMorador.morador.nome}, </span><span>#{guiMorador.morador.nacionalidade}, #{guiMorador.morador.estadoCivil}, #{guiMorador.morador.profissao}, portado#{guiMorador.morador.genero} da carteira de identidade nº
                                #{guiMorador.morador.rg} expedida pelo #{guiMorador.morador.orgaoExpeditor}, inscrito no CPF sob o nº #{guiMorador.morador.cpf}.</span></p>
			<h:outputText value="&#160;" />
			<h:outputText value="&#160;" />
			<p style="text-align: center; font-weight: bold"><span>IMÓVEL OBJETO DA LOCAÇÃO:</span></p>
			<h:outputText value="&#160;" />
			<p style="text-align: justify"><span>O objeto do presente contrato é o imóvel situado
                                à</span><span style="font-weight: bold"> #{guiMorador.morador.duplex.endereco}.</span></p>
			<h:outputText value="&#160;" />
			<h:outputText value="&#160;" />
			<p style="text-align: center; font-weight: bold"><span>DO CONTRATO:</span></p>
			<h:outputText value="&#160;" />
			<p style="text-align: justify"><span>As partes supramencionadas e qualificadas ajustam e
					contratam pelo presente instrumento particular e na melhor forma de direito, a locação do imóvel
					acima referido, de acordo com as cláusulas e condições seguintes, de tudo em conformidade com as
					Leis nº. 8.245/91 e 10.406/02.</span></p>
			<h:outputText value="&#160;" />
			<h:outputText value="&#160;" />
			<p style="text-align: center; font-weight: bold"><span>CLÁ</span><span>USULA PRIMEIRA: DO
					PRAZO</span></p>
			<h:outputText value="&#160;" />
                        <p style="text-align: justify"><span>O prazo da presente locação é de </span><span style="font-weight: bold">30 (trinta) meses</span><span> com início em </span><span style="font-weight: bold">#{guiMorador.diaEntrada}/#{guiMorador.mesEntrada}/#{guiMorador.anoEntrada}</span><span> e seu término em data
                                pré-fixada em </span><span style="font-weight: bold">#{guiMorador.diaFim}/#{guiMorador.mesFim}/#{guiMorador.anoFim}, </span><span>independente de aviso, interpelação, notificação judicial ou extrajudicial, proibida
					a recondução tácita, de acordo com o artigo 46 da Lei 8.245/91 e artigo 573 do Código Civil.</span>
			</p>
			<h:outputText value="&#160;" />
			<p style="text-align: justify"><span>Todavia, por desejo unilateral, o contrato pode ser
					encerrado a qualquer momento sem prejuízo para nenhuma das partes. </span></p>
			<h:outputText value="&#160;" />
			<p style="text-align: center; font-weight: bold"><span>CLÁUSULA SEGUNDA: DO PREÇO</span></p>
			<h:outputText value="&#160;" />
			<p style="text-align: justify"><span>O aluguel livremente convencionado entre as partes
                                contratantes, terá o valor inicial de </span><span  style="font-weight: bold">R$ #{guiMorador.morador.valorAluguel},00 (#{guiMorador.morador.valorAluguelPorExtenso} REAIS).</span></p>
			<h:outputText value="&#160;" />
			<h:outputText value="&#160;" />
			<p style="text-align: center; font-weight: bold"><span>CLÁUSULA TERCEIRA: DO REAJUSTAMENTO DO ALUGUEL</span></p>
			<h:outputText value="&#160;" />
			<p style="text-align: justify"><span>O aluguel será reajustado anualmente e, de acordo com o
					índice de inflação acumulado fornecido pela Fundação Getúlio Vargas (IGPM/FGV) ou, outro índice a
					ser estipulado pelo governo em substituição deste. Em caso de autorização da lei, este poderá ser
					reajustado em menor prazo.</span></p>
			<h:outputText value="&#160;" />
			<h:outputText value="&#160;" />
			<p style="text-align: center; font-weight: bold"><span>PARÁGRAFO ÚNICO: DA EXTINÇÃO OU SUBSTITUIÇÃO DO
					ÍNDICE</span></p>
			<h:outputText value="&#160;" />
			<p style="text-align: justify"><span>Em caso de extinção do IGPM/FGV, deverá ser aplicado, para
					fim de reajuste, o índice substituto do mesmo, divulgado pela mesma entidade, ou então, caso não
					venha a existir outro em substituição, o índice oficial legalmente estabelecido pelas autoridades
					competentes.</span></p>
			<h:outputText value="&#160;" />
			<h:outputText value="&#160;" />
			<p  style="text-align: center; font-weight: bold"><span>CLÁUSULA QUARTA: DO TEMPO DE PAGAMENTO</span></p>
			<h:outputText value="&#160;" />
			<p style="text-align: justify"><span>O preço do aluguel ora ajustado deverá ser pago na data de
                                seu vencimento, ou seja, no dia </span><span style="font-weight: bold">#{guiMorador.morador.vencimento} (#{guiMorador.morador.vencimentoPorExtenso}) do mês
                                    curso</span><span> podendo, porém, ser pago até o dia </span><span style="font-weight: bold">#{guiMorador.morador.vencimentoMaisCinco} (#{guiMorador.morador.vencimentoMaisCincoPorExtenso}) do mês subsequente ao mês vencido</span><span>. Será emitido um boleto pagável em qualquer banco até a data de seu vencimento. Caso
					não seja pago até a data de vencimento, será solicitado ao banco a emissão de novo boleto já com a
					inclusão de multas contratuais.</span></p>
			<h:outputText value="&#160;" />
			<h:outputText value="&#160;" />
			<p  style="text-align: center; font-weight: bold"><span>PARÁGRAFO ÚNICO: DOS COMPROVANTES DE PAGAMENTO DOS
					ENCARGOS</span></p>
			<h:outputText value="&#160;" />
			<p style="text-align: justify"><span>Além do aluguel mensal ajustado na cláusula segunda, o
				</span><span style="font-weight: bold">LOCATÁRIO </span><span>fica obrigado a
					pagar, a conta de consumo de energia elétrica (ENEL). O recibo deve ser apresentado ao </span><span style="font-weight: bold">
                                            LOCADOR</span><span>, no ato do pagamento do
					aluguel.</span></p>
			<h:outputText value="&#160;" />
			<p style="text-align: justify"><span>Deverá ser pago também o valor proporcional referente ao
					consumo de água que será apresentado pelo </span><span style="font-weight: bold">LOCADOR</span><span
					> a cada mês.</span></p>
			<h:outputText value="&#160;" />
			<h:outputText value="&#160;" />
			<p  style="text-align: center; font-weight: bold"><span>CLÁUSULA QUINTA: DA MORA</span></p>
			<h:outputText value="&#160;" />
			<p style="text-align: justify"><span>1) Vencido o aluguel conforme estipulado na cláusula
					quarta, será cobrado do </span><span style="font-weight: bold">LOCATÁRIO </span><span>o pagamento de </span><span  style="font-weight: bold">
                                            multa contratual de 10% (dez por
					cento),</span><span> </span><span style="font-weight: bold">correção
					monetária e juros</span><span>.</span></p>
			<h:outputText value="&#160;" />
			<p style="text-align: justify"><span>2) A simples falta de pagamento nas épocas determinadas
					constituirá a mora, independente de qualquer aviso extrajudicial ou interpelações judiciais,
					sujeitando-se o </span><span style="font-weight: bold">LOCATÁRIO</span><span>, ao pagamento de juros de </span><span style="font-weight: bold">
                                            1% (um por cento) ao
					mês</span><span>, sendo que se o atraso for superior a 30 (trinta) dias,
					ficará também sujeito </span><span style="font-weight: bold">a correção monetária com base no
					IGPM-FGV</span><span>, ou outro índice que venha a substituí-lo, indicando
					tal cobrança sobre o valor dos recibos de aluguéis, sem prejuízo das demais sanções pactuadas e as
					previstas por Lei.</span></p>
			<h:outputText value="&#160;" />
			<h:outputText value="&#160;" />
			<p  style="text-align: center; font-weight: bold"><span>CLÁUSULA SEXTA: DO ESTADO DO IMÓVEL</span></p>
			<h:outputText value="&#160;" />
			<p style="text-align: justify"><span>O </span><span style="font-weight: bold">LOCATÁRIO</span><span> declara receber o imóvel objeto da
					locação, no que tange às suas instalações elétricas, hidráulicas, sanitárias, bem como fechaduras,
					pias, janelas, basculantes, lavatórios, luminárias, chuveiro, torneiras, maçanetas, tudo no estado
					de conservação e limpeza que pode ser comprovado pelo locatário no ato de sua visita inicial.</span>
			</p>
			<h:outputText value="&#160;" />
			<p style="text-align: justify"><span>Durante o período de utilização do imóvel é de inteira
					responsabilidade do </span><span style="font-weight: bold">LOCATÁRIO</span><span lang="pt"
					class="text_2"> a manutenção de todos os ítens acima citados.</span></p>
			<h:outputText value="&#160;" />
			<h:outputText value="&#160;" />
			<p  style="text-align: center; font-weight: bold"><span>CLÁUSULA SÉTIMA: DA CONSERVAÇÃO E ESTADO DO IMÓVEL</span>
			</p>
			<h:outputText value="&#160;" />
			<p style="text-align: justify"><span>Fica obrigada o </span><span style="font-weight: bold">LOCATÁRIO</span><span> a manter o imóvel objeto desta
					locação sempre em perfeitas condições de conservação e limpeza, zelando particularmente pelo bom
					estado de conservação da pintura, pisos, janelas, basculantes, partes integrantes e acessórias do
					imóvel e, em geral por todos os aparelhos e instalações, ficando reservado ao </span><span style="font-weight: bold">LOCADOR</span><span> o direito de vistoriá-lo a qualquer
					tempo e, em encontrando algo danificado, terá a </span><span style="font-weight: bold">LOCADOR</span><span> direito de contratar o reparo do dano,
					cobrando do </span><span style="font-weight: bold">LOCATÁRIO</span><span> as
					despesas inerentes ao citado reparo no recibo seguinte de aluguel.</span></p>
			<h:outputText value="&#160;" />
			<h:outputText value="&#160;" />
			<p  style="text-align: center; font-weight: bold"><span>PARÁGRAFO PRIMEIRO: DOS REPAROS E CONSERTOS</span></p>
			<h:outputText value="&#160;" />
			<p style="text-align: justify"><span>O </span><span style="font-weight: bold">LOCATÁRIO</span><span> fará à sua própria custa, com inteira
					solidez e perfeição, todos os reparos e consertos de qualquer natureza que necessite ou venha
					necessitar o imóvel locado. Satisfazendo nesse sentido toda e qualquer exigência das autoridades
					públicas, mantendo-se em estado de perfeita conservação. Tais reparos e consertos efetivados pelo
				</span><span style="font-weight: bold">LOCATÁRIO</span><span>, somente serão
					reembolsados pelo </span><span style="font-weight: bold">LOCADOR</span><span lang="pt"
					class="text_2">, caso haja prévio e expresso aviso ao mesmo, e ainda, observadas as condições
					previstas nos artigos 22 e 23 da Lei 8.245/91.</span></p>
			<h:outputText value="&#160;" />
			<h:outputText value="&#160;" />
			<p  style="text-align: center; font-weight: bold"><span>PARÁGRAFO SEGUNDO: DAS CORES DO IMÓVEL</span></p>
			<h:outputText value="&#160;" />
			<p style="text-align: justify"><span>O </span><span style="font-weight: bold">LOCATÁRIO
				</span><span>obriga-se a pintar o imóvel objeto deste, com tintas de mesma
					qualidade (CORALAR) e com as cores idênticas às encontradas quando do início da locação, conforme
					consta no termo de vistoria que faz parte integrante do presente contrato, para que seja considerada
					a efetiva entrega das chaves.</span></p>
			<h:outputText value="&#160;" />
			<h:outputText value="&#160;" />
			<h:outputText value="&#160;" />
			<h:outputText value="&#160;" />
			<h:outputText value="&#160;" />
			<p  style="text-align: center; font-weight: bold"><span>CLÁUSULA OITAVA: DOS MÓVEIS E UTENSÍLIOS QUE
					PERMANECEM</span></p>
			<h:outputText value="&#160;" />
			<p style="text-align: justify"><span>Fica o </span><span style="font-weight: bold">LOCATÁRIO</span><span> responsável, por todos os bens móveis
					e utensílios que porventura permaneçam no imóvel objeto da presente locação, descritos na relação em
					anexo ao presente contrato, ciente que em caso de dano, deverá ser o mesmo reparado integralmente.
					Em caso de não reparado o dano, ficará obrigado o </span><span style="font-weight: bold">LOCATÁRIO
				</span><span>ao pagamento do valor equivalente a este, em substituição ao
					danificado. </span></p>
			<h:outputText value="&#160;" />
			<h:outputText value="&#160;" />
			<p  style="text-align: center; font-weight: bold"><span>CLÁUSULA NONA: DAS MODIFICAÇÕES E BENFEITORIAS</span></p>
			<h:outputText value="&#160;" />
			<p style="text-align: justify"><span>É vedado ao </span><span style="font-weight: bold">LOCATÁRIO</span><span>, sem aviso e expresso consentimento
					do </span><span style="font-weight: bold">LOCADOR</span><span> introduzir
					qualquer modificação no imóvel objeto da locação. Ocorrendo consentimento por parte do </span><span style="font-weight: bold">
                                            LOCADOR</span><span> as benfeitorias resultantes
					das modificações, ficarão desde logo incorporadas ao imóvel, sem que tenha o </span><span style="font-weight: bold">
                                            LOCATÁRIO</span><span> direito à indenização prevista no
					parágrafo único do art. 1.219 do Código Civil, ou o exercício da retenção previsto no art. e 578 do
					mesmo diploma.</span></p>
			<h:outputText value="&#160;" />
			<h:outputText value="&#160;" />
			<p style="text-align: center; font-weight: bold"><span>CLÁUSULA DÉCIMA: DA RESTITUIÇÃO DO IMÓVEL</span></p>
			<h:outputText value="&#160;" />
			<p style="text-align: justify"><span>O distrato far-se-á em consonância com o disposto nos
					arts. nº. 472 e 476 do Código Civil Brasileiro e, a entrega das chaves para vistoria do imóvel,
					depois de desocupação do imóvel, não exonera o </span><span style="font-weight: bold">LOCATÁRIO,
				</span><span>das obrigações legais e contratuais, principalmente quanto ao
					pagamento do aluguel(res) e encargos, bem como dos reparos e consertos necessários. Esta exoneração
					só se dará depois de reparados ou indenizados os danos existentes, obedecidas à forma acima
					mencionada.</span></p>
			<h:outputText value="&#160;" />
			<h:outputText value="&#160;" />
			<p style="text-align: center; font-weight: bold"><span>CLÁUSULA DÉCIMA PRIMEIRA: DA DEVOLUÇÃO ANTECIPADA DO
					IMÓVEL</span></p>
			<h:outputText value="&#160;" />
			<p style="text-align: justify"><span>No caso de devolução antecipada do imóvel, por interesse
					tanto do </span><span style="font-weight: bold">LOCADOR</span><span> como do
				</span><span style="font-weight: bold">LOCATÁRIO, </span><span>esta deverá ser
					precedida por aviso expresso formulada ao </span><span style="font-weight: bold">LOCADOR </span><span
					>ou</span><span style="font-weight: bold"> LOCATÁRIO</span><span lang="pt"
					class="text_2">, dependendo do caso, </span><span>sendo que deverá ser
					feita com 30 (trinta) dias de antecedência à desocupação</span><span lang="pt"
					class="text_2">.</span></p>
			<h:outputText value="&#160;" />
			<h:outputText value="&#160;" />
			<p style="text-align: center; font-weight: bold"><span>CLÁUSULA DÉCIMA SEGUNDA: DA VISTORIA</span></p>
			<h:outputText value="&#160;" />
			<p style="text-align: justify"><span>Para constatar o fiel cumprimento das obrigações
					decorrentes do pacto locatício, reserva-se ao </span><span style="font-weight: bold">LOCADOR</span><span> o direito de vistoriar o imóvel a
					qualquer tempo, desde que avisado ao </span><span style="font-weight: bold">LOCATÁRIO</span><span
					> com antecedência de 48 horas.</span></p>
			<h:outputText value="&#160;" />
			<h:outputText value="&#160;" />
			<h:outputText value="&#160;" />
			<p style="text-align: center; font-weight: bold"><span>CLÁUSULA DÉCIMA TERCEIRA: DA CESSÃO E DA SUBLOCAÇÃO</span>
			</p>
			<h:outputText value="&#160;" />
			<p style="text-align: justify"><span>Não é permitido ao </span><span style="font-weight: bold">LOCATÁRIO</span><span> ceder seu direito, sublocar, no todo
					ou em parte, ou emprestar o imóvel objeto da locação, sem expresso consentimento do </span><span style="font-weight: bold">LOCADOR</span><span>, que se reserva ao direito de
					negá-los, sem justificação de motivos.</span></p>
			<h:outputText value="&#160;" />
			<h:outputText value="&#160;" />
			<p style="text-align: center; font-weight: bold"><span>CLÁUSULA DÉCIMA QUARTA: DA CAUÇÃO</span></p>
			<h:outputText value="&#160;" />
			<p style="text-align: justify"><span>O </span><span style="font-weight: bold">LOCATÁRIO</span><span> deverá efetuar o pagamento de dois
					meses de aluguel adiantados como garantia. Esse valor tem a finalidade de cobrir, além de eventual
					inadimplência no pagamento do aluguel, despesas referentes a reparos que possam se fazer necessários
					após a desocupação do imóvel. Caso o valor necessário para cobrir tais despesas seja menor que o
					valor adiantado, a diferença será devolvida ao </span><span style="font-weight: bold">LOCATÁRIO</span><span>, após apresentação de quitação com a
					ENEL e despesa de consumo de água.</span></p>
			<h:outputText value="&#160;" />
			<h:outputText value="&#160;" />
			<p style="text-align: center; font-weight: bold"><span>CLÁUSULA DÉCIMA QUINTA: DA DESTINAÇÃO E USO DO
					IMÓVEL</span></p>
			<h:outputText value="&#160;" />
			<p style="text-align: justify"><span>O imóvel objeto do presente contrato destina-se
					exclusivamente para </span><span style="font-weight: bold">fins residenciais</span><span> </span><span>do </span><span style="font-weight: bold">
                                            LOCATÁRIO</span><span>, não podendo o mesmo modificar sua
					destinação e uso, sob pena de pagamento da multa no valor de um aluguel.</span></p>
			<h:outputText value="&#160;" />
			<h:outputText value="&#160;" />
			<p style="text-align: center; font-weight: bold"><span>CLÁUSULA DÉCIMA SEXTA: DISPOSIÇÕES FINAIS</span></p>
			<h:outputText value="&#160;" />
			<p style="text-align: justify"><span>1. Deverá o </span><span style="font-weight: bold">LOCATÁRIO,</span><span> manifestar por escrito sua intenção
					de prorrogar o presente contrato com 90 (Noventa) dias de antecedência do término deste contrato,
					para que possa o proprietário do imóvel, objeto desta locação, manifestar a sua concordância ou
					discordância.</span></p>
			<h:outputText value="&#160;" />
			<p style="text-align: justify"><span>2. São as condições para recebimento das chaves, para
					vistoria do imóvel depois de desocupado:</span></p>
			<p style="text-align: justify"><span>a) Comunicar com antecedência de 05 (cinco) dias a entrega
					das chaves para vistoria final do imóvel;</span></p>
			<p style="text-align: justify"><span>b) Assinatura do recibo de entrega das chaves do imóvel
					para a vistoria;</span></p>
			<p style="text-align: justify"><span>c) Apresentação quando da entrega das chaves para vistoria
					da conta final da ENEL;</span></p>
			<p style="text-align: justify"><span>d) Indenizar ou reparar se necessário, após a vistoria no
					imóvel, pintura ou, quaisquer outros danos existentes no mesmo, se em desacordo com a
					vistoria.</span></p>
			<h:outputText value="&#160;" />
			<h:outputText value="&#160;" />
			<h:outputText value="&#160;" />
			<h:outputText value="&#160;" />
			<h:outputText value="&#160;" />
			<h:outputText value="&#160;" />
			<h:outputText value="&#160;" />
			<p style="text-align: center; font-weight: bold"><span>CLÁUSULA DÉCIMA SÉTIMA: DO FORO</span></p>
			<h:outputText value="&#160;" />
			<p style="text-align: justify"><span>Para toda e qualquer Ação Judicial decorrente deste pacto
					locatício, elegem as partes contratantes o foro da Comarca de Macaé, com renúncia expressa a
					qualquer outro, por mais privilegiado que seja.</span></p>
			<h:outputText value="&#160;" />
			<p style="text-align: justify"><span>E, por estarem justos e contratados, firmam o presente
					contrato, em 03 (Três) vias de igual teor e forma, para um só efeito, presente às testemunhas
					abaixo, subscreve.</span></p>
			<h:outputText value="&#160;" />
			<h:outputText value="&#160;" />
                        <p><span>Macaé, #{guiMorador.dia} de #{guiMorador.mes} de #{guiMorador.ano}.</span></p>
			<h:outputText value="&#160;" />
			<h:outputText value="&#160;" />
			<h:outputText value="&#160;" />
			<p><span>LOCADOR:
					___________________________________________________</span></p>
			<p><span><span> FERNANDO </span></span><span
					>OLIVEIRA CERVEIRA DE SOUSA</span></p>
			<h:outputText value="&#160;" />
			<h:outputText value="&#160;" />
			<p><span>LOCATÁRIO:
					_________________________________________________</span></p>
			<p><span><span class="calibre1"> </span><span></span><span>
                                    </span> </span><span>#{guiMorador.morador.nome}</span></p>
			<h:outputText value="&#160;" />
			<h:outputText value="&#160;" />
			<h:outputText value="&#160;" />
			<h:outputText value="&#160;" />
			<h:outputText value="&#160;" />
			<h:outputText value="&#160;" />
			<p><span>________________________________________________</span>
			</p>
			<p><span>TESTEMUNHA -<span
						class="tab"><h:outputText value="&#160;" /></span>Nome:</span></p>
			<p><span>CPF:</span></p>
			<h:outputText value="&#160;" />
			<h:outputText value="&#160;" />
			<h:outputText value="&#160;" />
			<h:outputText value="&#160;" />
			<p><span>________________________________________________</span>
			</p>
			<p><span>TESTEMUNHA -<span
						class="tab"><h:outputText value="&#160;" /></span>Nome:</span></p>
			<p><span>CPF:</span></p>
		</div>

	</div>
    </h:body>
</html>