<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/index.xhtml">

        <ui:define name="title">Duplex 2.0 - Aluguel</ui:define>

        <ui:define name="headerTitle">Cadastro Aluguel de #{guiAluguel.morador.nome}</ui:define>

        <ui:define name="conteudo">
            <div class="conteudo-pagina-container">
                <p:growl id="growl" showDetail="true" sticky="true" /> 
                <p:panelGrid columns="2">
                    <h:outputText value="Valor:" />
                    <p:inputText value="#{guiAluguel.aluguel.valor}"></p:inputText>
                    <h:outputText value="Tipo de Pagamento:" />
                    <p:selectOneMenu value="#{guiAluguel.aluguel.tipoDePagamento}">
                            <f:selectItem itemLabel="Selecione o Tipo" itemValue="" />
                            <f:selectItem itemLabel="Boleto" itemValue="Boleto" />
                            <f:selectItem itemLabel="Transferência BB" itemValue="Transferência BB" />
                            <f:selectItem itemLabel="Transferência ITAÚ" itemValue="Transferência ITAÚ" />
                            <f:selectItem itemLabel="Dinheiro" itemValue="Dinheiro" />
                        </p:selectOneMenu>
                    <p:outputLabel for="datavencimento" value="Data de Vencimento:" />
                    <p:calendar id="datavencimento" value="#{guiAluguel.aluguel.dataVencimento}" pattern="dd/MM/yyyy" mask="true" converter="localDateFacesConverter"/>
                    <p:outputLabel for="datapagamento" value="Data do Pagamento:" />
                    <p:calendar id="datapagamento" value="#{guiAluguel.aluguel.dataPagamento}" pattern="dd/MM/yyyy" mask="true" converter="localDateFacesConverter"/>
                    <p:commandButton value="Voltar" action="#{guiAluguel.listaAlugueisPorMorador()}" ajax="false" />
                    <p:commandButton value="Gravar" action="#{guiAluguel.gravarAluguel()}" ajax="false" type="submit"/>
                </p:panelGrid>
            </div>
        </ui:define>

    </ui:composition>
</html>