<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/index.xhtml">

        <ui:define name="title">Duplex 2.0 - Contrato Upload</ui:define>

        <ui:define name="headerTitle">Upload do Contrato</ui:define>
        
        <ui:define name="conteudo">
            <div class="conteudo-pagina-container">
                <p:growl id="growl" showDetail="true" sticky="true" /> 
                <p:panelGrid columns="2">
                    <h:outputText value="Páagina" />
                    <p:inputText value="#{guiMorador.contratoUpload.pagina}"></p:inputText>
                    <p:outputLabel>Imagem</p:outputLabel>
                    
                        <h:form enctype="multipart/form-data">
                            <p:fileUpload 
                                label="Upload da Imagem do Contrato"
                                fileUploadListener="#{guiMorador.handleFileUploadImagemContrato}" 
                                mode="advanced" 
                                skinSimple="true" 
                                auto="true" 
                                allowTypes="/(\.|\/)(gif|jpe?g|png)$/" 
                                />
                        </h:form>
                    
                    <p:commandButton value="Voltar" action="#{guiMorador.listaContratoUpload()}" ajax="false" />
                    <p:commandButton value="Gravar" action="#{guiMorador.gravarContratoUpload()}" ajax="false"/>
                </p:panelGrid>
            </div>
        </ui:define>

    </ui:composition>
</html>