<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/index.xhtml">

        <ui:define name="title">Duplex 2.0 - Conta de Água</ui:define>

        <ui:define name="headerTitle">Cadastro Conta De Água de #{guiContaDeAgua.morador.nome}</ui:define>

        <ui:define name="conteudo">
            <div class="conteudo-pagina-container">
                <p:growl id="growl" showDetail="true" sticky="true" /> 
                <p:panelGrid columns="2">
                    <h:outputText value="Valor:" />
                    <p:inputText value="#{guiContaDeAgua.contaDeAgua.valor}"></p:inputText>
                    <p:outputLabel for="datadoaviso" value="Data do Aviso:" />
                    <p:calendar id="datadoaviso" value="#{guiContaDeAgua.contaDeAgua.dataDoAviso}" pattern="dd/MM/yyyy" mask="true" converter="localDateFacesConverter"/>
                    <p:commandButton value="Voltar" action="#{guiContaDeAgua.listaContaDeAguas()}" ajax="false" />
                    <p:commandButton value="Gravar" action="#{guiContaDeAgua.gravarContaDeAgua()}" ajax="false" type="submit"/>
                </p:panelGrid>
            </div>
        </ui:define>

    </ui:composition>
</html>