<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/index.xhtml">

        <ui:define name="title">Duplex 2.0 - Duplexes</ui:define>

        <ui:define name="headerTitle">Cadastro Duplex</ui:define>
        
        <ui:define name="conteudo">
            <div class="conteudo-pagina-container">
                <p:growl id="growl" showDetail="true" sticky="true" /> 
                <p:panelGrid columns="2">
                    <h:outputText value="Número" />
                    <p:inputText value="#{guiDuplex.duplex.numero}"></p:inputText>
                    <h:outputText value="Referência Energia" />
                    <p:inputText value="#{guiDuplex.duplex.referenciaEnergia}"></p:inputText>
                    <h:outputText value="Endereço" />
                    <p:inputText value="#{guiDuplex.duplex.endereco}"></p:inputText>
                    <p:commandButton value="Voltar" action="#{guiDuplex.listaDuplexes()}" ajax="false" />
                    <p:commandButton value="Gravar" action="#{guiDuplex.gravarDuplex()}" ajax="false"/>
                </p:panelGrid>
            </div>
        </ui:define>

    </ui:composition>
</html>