<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/index.xhtml">

        <ui:define name="title">Duplex 2.0 - Morador</ui:define>

        <ui:define name="headerTitle">Cadastro Morador</ui:define>

        <ui:define name="conteudo">
            <div class="conteudo-pagina-container">
                <p:growl id="growl" showDetail="true" sticky="true" /> 
                <p:panelGrid rendered="#{guiLogin.tipoUsuario == 1}" columns="2">
                    <h:outputText value="Nome:" />
                    <p:inputText value="#{guiMorador.morador.nome}"></p:inputText>
                    <h:outputText value="Nacionalidade:" />
                    <p:inputText value="#{guiMorador.morador.nacionalidade}"></p:inputText>
                    <h:outputText value="Estado Civil:" />
                    <p:inputText value="#{guiMorador.morador.estadoCivil}"></p:inputText>
                    <h:outputText value="Profissão:" />
                    <p:inputText value="#{guiMorador.morador.profissao}"></p:inputText>
                    <h:outputText value="Gênero:" />
                    <p:selectOneMenu value="#{guiMorador.morador.genero}">
                        <f:selectItem itemLabel="Selecione o Gênero" itemValue="" />
                        <f:selectItem itemLabel="Feminino" itemValue="ra" />
                        <f:selectItem itemLabel="Masculino" itemValue="r" />
                    </p:selectOneMenu>
                    <h:outputText value="RG:" />
                    <p:inputText value="#{guiMorador.morador.rg}"></p:inputText>
                    <h:outputText value="Orgão Expeditor:" />
                    <p:inputText value="#{guiMorador.morador.orgaoExpeditor}"></p:inputText>
                    <h:outputText value="CPF:" />
                    <p:inputMask mask="999.999.999-99" value="#{guiMorador.morador.cpf}"></p:inputMask>
                    <h:outputText value="E-mail:" />
                    <p:inputText value="#{guiMorador.morador.email}"></p:inputText>
                    <h:outputText value="Contato:" />
                    <p:inputText value="#{guiMorador.morador.contato}"></p:inputText>
                    <h:outputText value="Vencimento:" />
                    <p:inputText value="#{guiMorador.morador.vencimento}"></p:inputText>
                    <h:outputText value="Valor do Aluguel:" />
                    <p:inputText value="#{guiMorador.morador.valorAluguel}"></p:inputText>
                    <h:outputText value="Valor do Aluguel por Extenso:" />
                    <p:inputText value="#{guiMorador.morador.valorAluguelPorExtenso}"></p:inputText>
                    <h:outputText value="Caução:" />
                    <p:inputText value="#{guiMorador.morador.caucao}"></p:inputText>
                    <h:outputText value="Local da Caução:" />
                    <p:inputText value="#{guiMorador.morador.localDaCaucao}"></p:inputText>
                    <p:outputLabel for="dataentrada" value="Data de Entrada:" />
                    <p:calendar id="dataentrada" value="#{guiMorador.morador.dataEntrada}" pattern="dd/MM/yyyy" mask="true" converter="localDateFacesConverter"/>
                    <h:outputText value="Data Saída:" />
                    <h:outputText value="#{guiMorador.morador.dataSaida}"/>
                    <p:commandButton value="Voltar" action="#{guiMorador.listaMoradores()}" ajax="false" />
                    <p:commandButton value="Gravar" action="#{guiMorador.gravarMorador()}" ajax="false" type="submit"/>
                </p:panelGrid>
                
                <p:panelGrid rendered="#{guiLogin.tipoUsuario == 3}" columns="2">
                    <h:outputText value="Nome:" />
                    <p:inputText value="#{guiMorador.morador.nome}"></p:inputText>
                    <h:outputText value="Nacionalidade:" />
                    <p:inputText value="#{guiMorador.morador.nacionalidade}"></p:inputText>
                    <h:outputText value="Estado Civil:" />
                    <p:inputText value="#{guiMorador.morador.estadoCivil}"></p:inputText>
                    <h:outputText value="Profissão:" />
                    <p:inputText value="#{guiMorador.morador.profissao}"></p:inputText>
                    <h:outputText value="Gênero:" />
                    <p:selectOneMenu value="#{guiMorador.morador.genero}">
                        <f:selectItem itemLabel="Selecione o Gênero" itemValue="" />
                        <f:selectItem itemLabel="Feminino" itemValue="ra" />
                        <f:selectItem itemLabel="Masculino" itemValue="r" />
                    </p:selectOneMenu>
                    <h:outputText value="RG:" />
                    <p:inputText value="#{guiMorador.morador.rg}"></p:inputText>
                    <h:outputText value="Orgão Expeditor:" />
                    <p:inputText value="#{guiMorador.morador.orgaoExpeditor}"></p:inputText>
                    <h:outputText value="CPF:" />
                    <p:inputMask mask="999.999.999-99" value="#{guiMorador.morador.cpf}"></p:inputMask>
                    <h:outputText value="E-mail:" />
                    <p:inputText value="#{guiMorador.morador.email}"></p:inputText>
                    <h:outputText value="Número do Contato:" />
                    <p:inputText value="#{guiMorador.morador.contato}"></p:inputText>                    
                    <p:commandButton value="Voltar" action="#{guiMorador.listaMoradores()}" disabled="true" ajax="false" />
                    <p:commandButton value="Gravar" action="#{guiMorador.gravarMoradorCadastrante()}" ajax="false" type="submit"/>
                </p:panelGrid>
            </div>
        </ui:define>

    </ui:composition>
</html>