<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/index.xhtml">

        <ui:define name="title">Duplex 2.0 - Saída Morador</ui:define>

        <ui:define name="headerTitle">Saída Morador</ui:define>

        <ui:define name="conteudo">
            <div class="conteudo-pagina-container">
                <p:growl id="growl" showDetail="true" sticky="true" /> 
                <p:panelGrid columns="2">
                    <h:outputText value="Nome:" />
                    <h:outputText value="#{guiMorador.morador.nome}"/>
                    <h:outputText value="Vencimento:" />
                    <h:outputText value="#{guiMorador.morador.vencimento}"/>
                    <h:outputText value="RG:" />
                    <h:outputText value="#{guiMorador.morador.rg}"/>
                    <h:outputText value="CPF:" />
                    <h:outputText value="#{guiMorador.morador.cpf}"/>
                    <h:outputText value="Estado Civil:" />
                    <h:outputText value="#{guiMorador.morador.estadoCivil}"/>
                    <h:outputText value="Profissão:" />
                    <h:outputText value="#{guiMorador.morador.profissao}"/>
                    <h:outputText value="Caução:" />
                    <h:outputText value="#{guiMorador.morador.caucao}"/>
                    <h:outputText value="Local da Caução:" />
                    <h:outputText value="#{guiMorador.morador.localDaCaucao}"/>
                    <h:outputText value="Data de Entrada:" />
                    <h:outputText value="#{guiMorador.morador.dataEntrada}"/>
                    <p:outputLabel for="datasaida" value="Data Saída:" />
                    <p:calendar id="datasaida" value="#{guiMorador.morador.dataSaida}" pattern="dd/MM/yyyy" mask="true" converter="localDateFacesConverter"/>
                    <p:commandButton value="Voltar" action="#{guiMorador.listaMoradores()}" ajax="false" />
                    <p:commandButton value="Gravar" action="#{guiMorador.gravarMorador()}" ajax="false" type="submit"/>
                </p:panelGrid>
            </div>
        </ui:define>

    </ui:composition>
</html>