<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/index.xhtml">

        <ui:define name="title">Duplex 2.0 - Usuario</ui:define>

        <ui:define name="headerTitle">Cadastro Usuario</ui:define>

        <ui:define name="conteudo">
            <div class="conteudo-pagina-container">
                <p:growl id="growl" showDetail="true" sticky="true" /> 
                <p:panelGrid columns="2">
                    <h:outputText value="Tipo Usuário:" />
                    <p:selectOneMenu value="#{guiUsuario.idTipoUsuario}" >
                        <f:selectItem itemLabel="Selecione o Tipo Usuário"/>
                        <f:selectItems value="#{guiUsuario.listaTipoUsuarios()}"  var="tipoUsuario" itemValue="#{tipoUsuario.idTipoUsuario}" itemLabel="#{tipoUsuario.nomeTipo}"/>
                        <f:ajax event="valueChange" execute="@this" render="cbo1" />
                        <f:ajax event="valueChange" execute="@this" render="cbo2" />
                        <f:ajax event="valueChange" execute="@this" render="input1" />
                        <f:ajax event="valueChange" execute="@this" render="input2" />
                        <f:ajax event="valueChange" execute="@this" render="input3" />                       
                    </p:selectOneMenu>
                    <h:outputText value="Imóvel:" />
                    <p:selectOneMenu id="cbo2" value="#{guiUsuario.idDuplex}" disabled="#{guiUsuario.inquilinoAtivo}">
                        <f:selectItem itemLabel="Selecione o Imóvel"/>
                        <f:selectItems value="#{guiUsuario.listaDuplexes()}"  var="duplex" itemValue="#{duplex.idDuplex}" itemLabel="#{duplex.endereco}"/>
                    </p:selectOneMenu>
                    <h:outputText value="Morador:" />
                    <p:selectOneMenu id="cbo1" value="#{guiUsuario.idMorador}" disabled="#{!guiUsuario.inquilinoAtivo}">
                        <f:selectItem itemLabel="Selecione o Morador"/>
                        <f:selectItems value="#{guiUsuario.listaMoradores()}"  var="morador" itemValue="#{morador.idMorador}" itemLabel="#{morador.nome}"/>
                    </p:selectOneMenu>
                    <h:outputText value="Nome" />
                    <p:inputText id="input3" value="#{guiUsuario.usuario.nome}" disabled="#{guiUsuario.inquilinoAtivo}"></p:inputText>
                    <h:outputText value="Usuario" />
                    <p:inputText id="input1" value="#{guiUsuario.usuario.nomeUsuario}" disabled="#{guiUsuario.inquilinoAtivo}"></p:inputText>
                    <h:outputText value="Senha" />
                    <p:inputText id="input2" type="password" value="#{guiUsuario.usuario.senhaUsuario}" disabled="#{guiUsuario.inquilinoAtivo}"></p:inputText>    
                    
                    <p:commandButton value="Voltar" action="#{guiUsuario.listaUsuario()}" ajax="false" />
                    <p:commandButton value="Gravar" action="#{guiUsuario.gravarUsuario()}" ajax="false"/>
                </p:panelGrid>
            </div>
        </ui:define>

    </ui:composition>
</html>