<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title><ui:insert name="title">Duplex 2.0</ui:insert></title>
        <link rel="stylesheet" href="src/css/main.css" />
        <link rel="stylesheet" href="src/css/index.css" />
        <link rel="stylesheet" href="src/css/style.css" />
        <link rel="icon" type="image/png" href="src/img/cerveirasduplex.png"/>
        <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    </h:head>
    <h:body>
        <h:form id="formNaoLogado" rendered="#{guiLogin.logado == false}">
            <div align="center">
                <div style="height: 400px; width: 400px; background-color: #DEE1EC; border-radius: 50px; margin-top: 100px; box-shadow: 2.5px 5px #c2c4c6;">
                    <img src="src/img/cerveirasduplex.png" style="margin-top: 30px"/>                    
                    <h1 style="margin-top: 20px">Usuário não logado</h1>
                    <p:commandButton action="#{guiLogin.loginPage()}" style="margin-top: 45px" value="Área de Login"></p:commandButton>
                </div>
            </div>
        </h:form>
        <h:form id="formCorretor" rendered="#{guiLogin.logado == true and guiLogin.tipoUsuario == 1}">
            <ui:insert name="menu">
                <div class="wrapper">
                    <div class="sidebar">
                        <img src="./src/img/cerveirasduplex.png"/>
                        <ul>
                            <li><p:commandLink action="#{guiDuplex.listaDuplexes()}"><i class="fas fa-home"></i>Imóveis</p:commandLink></li>
                            <li><p:commandLink action="#{guiMorador.listaMoradoresAtivos()}"><i class="fas fa-users"></i>Moradores Ativos</p:commandLink></li>
                            <li><p:commandLink action="#{guiMorador.listaMoradoresInativos()}"><i class="fas fa-user-slash"></i>Histórico</p:commandLink></li>
                            <li><p:commandLink action="#{guiUsuario.listaUsuario()}"><i class="fas fa-user"></i>Usuários</p:commandLink></li>
                            <li><p:commandLink action="#{guiLogin.sair()}"><i class="fas fa-user"></i>Sair</p:commandLink></li>
                        </ul> 
                        <!--div class="social_media">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div-->
                    </div>
                    <div class="main_content">
                        <div class="header"><ui:insert name="headerTitle">Duplex 2.0</ui:insert></div>  

                    </div>
                </div>
            </ui:insert>

            <ui:insert name="cabecalho">

            </ui:insert>


            <div class="conteudo-container">
                <ui:insert name="conteudo">
                    <div align="center" style="margin-top: 50px">
                        <h1>2Xs - Sistema de Gererenciamento de Duplexes</h1>
                        <h3>por Fernando Cerveira</h3>
                        <img style="margin-top: 100px" src="./src/img/cerveirasduplex.png"/>
                    </div>
                </ui:insert>
            </div>
        </h:form>
        
        <h:form id="formInquilinoAtivo" rendered="#{guiLogin.logado == true and guiLogin.tipoUsuario == 2}">
            <ui:insert name="menu">
                <div class="wrapper">
                    <div class="sidebar">
                        <img src="./src/img/cerveirasduplex.png"/>
                        <ul>
                            <li><p:commandLink action="#{guiLogin.listaDuplexesPorUsuarioLogado()}"><i class="fas fa-home"></i>Imóvel</p:commandLink></li>
                            <li><p:commandLink action="#{guiLogin.sair()}"><i class="fas fa-user"></i>Sair</p:commandLink></li>
                        </ul> 
                        <!--div class="social_media">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div-->
                    </div>
                    <div class="main_content">
                        <div class="header"><ui:insert name="headerTitle">Duplex 2.0</ui:insert></div>  

                    </div>
                </div>
            </ui:insert>

            <ui:insert name="cabecalho">

            </ui:insert>


            <div class="conteudo-container">
                <ui:insert name="conteudo">
                    <div align="center" style="margin-top: 50px">
                        <h1>2Xs - Sistema de Gererenciamento de Duplexes</h1>
                        <h3>por Fernando Cerveira</h3>
                        <img style="margin-top: 100px" src="./src/img/cerveirasduplex.png"/>
                    </div>
                </ui:insert>
            </div>
        </h:form>
        
        <h:form id="formCadastrante" rendered="#{guiLogin.logado == true and guiLogin.tipoUsuario == 3}">
            <ui:insert name="menu">
                <div class="wrapper">
                    <div class="sidebar">
                        <img src="./src/img/cerveirasduplex.png"/>
                        <ul>
                            <li><p:commandLink action="#{guiLogin.listaDuplexesCadastrante()}"><i class="fas fa-home"></i>Cadastro</p:commandLink></li>
                            <li><p:commandLink action="#{guiLogin.sair()}"><i class="fas fa-user"></i>Sair</p:commandLink></li>
                        </ul> 
                        <!--div class="social_media">
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div-->
                    </div>
                    <div class="main_content">
                        <div class="header"><ui:insert name="headerTitle">Duplex 2.0</ui:insert></div>  

                    </div>
                </div>
            </ui:insert>

            <ui:insert name="cabecalho">

            </ui:insert>


            <div class="conteudo-container">
                <ui:insert name="conteudo">
                    <div align="center" style="margin-top: 50px">
                        <h1>2Xs - Sistema de Gererenciamento de Duplexes</h1>
                        <h3>por Fernando Cerveira</h3>
                        <img style="margin-top: 100px" src="./src/img/cerveirasduplex.png"/>
                    </div>
                </ui:insert>
            </div>
        </h:form>
    </h:body>
</html>