<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <title>2Xs</title>
        <link rel="stylesheet" href="src/css/main.css" />
        <link rel="stylesheet" href="src/css/index.css" />
        <link rel="icon" type="image/png" href="src/img/cerveirasduplex.png"/>
        <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    </h:head>
    <h:body>
        <h:form>
            <div align="center">
                <div style="height: 400px; width: 400px; background-color: #DEE1EC; border-radius: 50px; margin-top: 100px; box-shadow: 2.5px 5px #c2c4c6;">
                    <img src="src/img/cerveirasduplex.png" style="margin-top: 30px"/>                    
                    <p style="margin-top: 20px">Usuário</p>
                    <p:inputText value="#{guiLogin.nomeUsuario}" style="margin-top: 20px"></p:inputText>
                    <p style="margin-top: 10px">Senha</p>
                    <p:inputText value="#{guiLogin.senhaUsuario}" style="margin-top: 20px" type="password"></p:inputText>
                    <br/>
                    <p:commandButton action="#{guiLogin.isUsuarioLogado()}" style="margin-top: 25px" value="Acessar"></p:commandButton>
                </div>
            </div>

        </h:form>
    </h:body>
</html>