<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/index.xhtml">

        <ui:define name="title">Duplex 2.0 - Alugéis</ui:define>

        <ui:define name="headerTitle">Aluguéis de #{guiAluguel.morador.nome}</ui:define>

        <ui:define name="conteudo">
            <div class="conteudo-pagina-container">
                <p:commandButton rendered="#{guiLogin.tipoUsuario == 1}" value="Novo Aluguel" action="#{guiAluguel.novoAluguel()}" style="margin-right: 15px "></p:commandButton>
                <p:commandButton rendered="#{guiLogin.tipoUsuario == 1}" value="Voltar" action="#{guiMorador.listaMoradores()}" style="margin-right: 15px "></p:commandButton>
                <p:commandButton rendered="#{guiLogin.tipoUsuario == 2}" value="Voltar" action="#{guiLogin.voltarMorador()}" style="margin-right: 15px "></p:commandButton>
                <p:dataTable rendered="#{guiLogin.tipoUsuario == 1}" value="#{guiAluguel.alugueis}" var="a" id="tblAluguelCorretor" emptyMessage="Nenhum aluguel encontrada" 
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                             paginator="true" rows="10" style="margin-top:20px">
                    <p:column style="text-align: center; " headerText="Valor" filterBy="#{a.valor}" filterMatchMode="contains">
                        <p:outputLabel value="R$ #{a.valor}" />
                    </p:column>
                    <p:column style="text-align: center; " headerText="Tipo de Pagamento" filterBy="#{a.tipoDePagamento}" filterMatchMode="contains">
                        <p:outputLabel value="#{a.tipoDePagamento}" />
                    </p:column>
                    <p:column style="text-align: center; " headerText="Vencimento" filterBy="#{a.dataVencimento}" filterMatchMode="contains">
                        <p:outputLabel value="#{a.dataVencimento}" />
                    </p:column>
                    <p:column style="text-align: center; " headerText="Data do Pagamento" filterBy="#{a.dataPagamento}" filterMatchMode="contains">
                        <p:outputLabel value="#{a.dataPagamento}" />
                    </p:column>     
                    <p:column style="text-align: center; " headerText="Pago" filterBy="#{a.pago}" filterMatchMode="contains">
                        <p:outputLabel style="font-weight: bold; color: green" rendered="#{a.pago}" value="SIM" />
                        <p:outputLabel style="font-weight: bold; color: red" rendered="#{!a.pago}" value="NÃO" />
                    </p:column>

                    <p:column exportable="false"  style="text-align: center; " width="21%">
                        <p:commandButton action="#{guiAluguel.reciboAluguel(a)}" title="Recibo" icon="fa fa-file-signature" ajax="false"></p:commandButton>
                        <p:commandButton action="#{guiAluguel.alterarAluguel(a)}" title="Alterar" icon="fa fa-edit" ajax="false"></p:commandButton>
                        <p:commandButton title="Pagar Conta" style="background-color: green; border-color: green;" icon="fa fa-money-bill-alt" action="#{guiAluguel.pagarAluguel(a)}" update="@all" >
                            <p:confirm header="Confirmação" message="Confirma o Pagamento?" icon="fa fa-exclamation-triangle" />
                        </p:commandButton>

                        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                            <p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes" icon="fa fa-check" />
                            <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no" icon="fa fa-times" />
                        </p:confirmDialog>

                        <p:commandButton title="Remover" style="background-color: red; border-color: red;" icon="fa fa-trash" action="#{guiAluguel.removerAluguel(a)}" update="@all" >
                            <p:confirm header="Confirmação" message="Você deseja remover esse registro?" icon="fa fa-exclamation-triangle" />
                        </p:commandButton>

                        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                            <p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes" icon="fa fa-check" />
                            <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no" icon="fa fa-times" />
                        </p:confirmDialog>
                        <p:commandButton action="#{guiAluguel.cadastrarAluguelUpload(a)}" title="Cadastro Imagem Aluguel" icon="fa fa-upload" ajax="false"></p:commandButton>


                    </p:column>
                </p:dataTable>
                
                <p:dataTable rendered="#{guiLogin.tipoUsuario == 2}" value="#{guiAluguel.alugueis}" var="a" id="tblAluguelInquilinoAtivo" emptyMessage="Nenhum aluguel encontrada" 
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                             paginator="true" rows="10" style="margin-top:20px">
                    <p:column style="text-align: center; " headerText="Valor" filterBy="#{a.valor}" filterMatchMode="contains">
                        <p:outputLabel value="R$ #{a.valor}" />
                    </p:column>
                    <p:column style="text-align: center; " headerText="Tipo de Pagamento" filterBy="#{a.tipoDePagamento}" filterMatchMode="contains">
                        <p:outputLabel value="#{a.tipoDePagamento}" />
                    </p:column>
                    <p:column style="text-align: center; " headerText="Vencimento" filterBy="#{a.dataVencimento}" filterMatchMode="contains">
                        <p:outputLabel value="#{a.dataVencimento}" />
                    </p:column>
                    <p:column style="text-align: center; " headerText="Data do Pagamento" filterBy="#{a.dataPagamento}" filterMatchMode="contains">
                        <p:outputLabel value="#{a.dataPagamento}" />
                    </p:column>     
                    <p:column style="text-align: center; " headerText="Pago" filterBy="#{a.pago}" filterMatchMode="contains">
                        <p:outputLabel style="font-weight: bold; color: green" rendered="#{a.pago}" value="SIM" />
                        <p:outputLabel style="font-weight: bold; color: red" rendered="#{!a.pago}" value="NÃO" />
                    </p:column>

                    <p:column exportable="false"  style="text-align: center; " width="21%">
                        <p:commandButton action="#{guiAluguel.cadastrarAluguelUpload(a)}" title="Cadastro Imagem Aluguel" icon="fa fa-upload" ajax="false"></p:commandButton>
                    </p:column>
                </p:dataTable>
            </div>
        </ui:define>

    </ui:composition>
</html>