<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/index.xhtml">

        <ui:define name="title">Duplex 2.0 - Contas de Água</ui:define>

        <ui:define name="headerTitle">Contas de Água de #{guiContaDeAgua.morador.nome}</ui:define>

        <ui:define name="conteudo">
            <div class="conteudo-pagina-container">
                <p:commandButton rendered="#{guiLogin.tipoUsuario == 1}" value="Nova Conta" action="#{guiContaDeAgua.novaContaDeAgua()}" style="margin-right: 15px "></p:commandButton>
                <p:commandButton rendered="#{guiLogin.tipoUsuario == 1}" value="Voltar" action="#{guiMorador.listaMoradores()}" style="margin-right: 15px "></p:commandButton>
                <p:commandButton rendered="#{guiLogin.tipoUsuario == 2}" value="Voltar" action="#{guiLogin.voltarMorador()}" style="margin-right: 15px "></p:commandButton>
                <p:dataTable rendered="#{guiLogin.tipoUsuario == 1}" value="#{guiContaDeAgua.contaDeAguas}" var="c" id="tblContaDeAguaCorretor" emptyMessage="Nenhuma conta de água encontrada" 
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                             paginator="true" rows="10" style="margin-top:20px">
                    <p:column style="text-align: center; " headerText="Valor" filterBy="#{c.valor}" filterMatchMode="contains">
                        <p:outputLabel value="R$ #{c.valor}" />
                    </p:column>
                    <p:column style="text-align: center; " headerText="Data do Aviso" filterBy="#{c.dataDoAviso}" filterMatchMode="contains">
                        <p:outputLabel value="#{c.dataDoAviso}" />
                    </p:column>
                    <p:column style="text-align: center; " headerText="Pago" filterBy="#{c.pago}" filterMatchMode="contains">
                        <p:outputLabel style="font-weight: bold; color: green" rendered="#{c.pago}" value="SIM" />
                        <p:outputLabel style="font-weight: bold; color: red" rendered="#{!c.pago}" value="NÃO" />
                    </p:column>
                   
                    <p:column exportable="false"  style="text-align: center; " width="21%">
                        <p:commandButton action="#{guiContaDeAgua.alterarContaDeAgua(c)}" title="Alterar" icon="fa fa-edit" ajax="false"></p:commandButton>
                        <p:commandButton title="Pagar Conta" style="background-color: green; border-color: green;" icon="fa fa-money-bill-alt" action="#{guiContaDeAgua.pagarContaDeAgua(c)}" update="@all" >
                            <p:confirm header="Confirmação" message="Confirma o Pagamento?" icon="fa fa-exclamation-triangle" />
                        </p:commandButton>

                        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                            <p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes" icon="fa fa-check" />
                            <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no" icon="fa fa-times" />
                        </p:confirmDialog>
                        
                        <p:commandButton title="Remover" style="background-color: red; border-color: red;" icon="fa fa-trash" action="#{guiContaDeAgua.removerContaDeAgua(c)}" update="@all" >
                            <p:confirm header="Confirmação" message="Você deseja remover esse registro?" icon="fa fa-exclamation-triangle" />
                        </p:commandButton>

                        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                            <p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes" icon="fa fa-check" />
                            <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no" icon="fa fa-times" />
                        </p:confirmDialog>


                    </p:column>
                </p:dataTable>
                
                <p:dataTable rendered="#{guiLogin.tipoUsuario == 2}" value="#{guiContaDeAgua.contaDeAguas}" var="c" id="tblContaDeAguaInquilinoAtivo" emptyMessage="Nenhuma conta de água encontrada" 
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                             paginator="true" rows="10" style="margin-top:20px">
                    <p:column style="text-align: center; " headerText="Valor" filterBy="#{c.valor}" filterMatchMode="contains">
                        <p:outputLabel value="R$ #{c.valor}" />
                    </p:column>
                    <p:column style="text-align: center; " headerText="Data do Aviso" filterBy="#{c.dataDoAviso}" filterMatchMode="contains">
                        <p:outputLabel value="#{c.dataDoAviso}" />
                    </p:column>
                    <p:column style="text-align: center; " headerText="Pago" filterBy="#{c.pago}" filterMatchMode="contains">
                        <p:outputLabel style="font-weight: bold; color: green" rendered="#{c.pago}" value="SIM" />
                        <p:outputLabel style="font-weight: bold; color: red" rendered="#{!c.pago}" value="NÃO" />
                    </p:column>
                </p:dataTable>
            </div>
        </ui:define>

    </ui:composition>
</html>