<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/index.xhtml">

        <ui:define name="title">Duplex 2.0 - Caução Upload</ui:define>

        <ui:define name="headerTitle">Caução de #{guiMorador.morador.nome}</ui:define>

        <ui:define name="conteudo">
            <div class="conteudo-pagina-container">
                <p:commandButton rendered="#{guiLogin.tipoUsuario == 1}" value="Novo Caução Upload" action="#{guiMorador.novoCaucaoUpload()}" style="margin-right: 15px "></p:commandButton>
                <p:commandButton rendered="#{guiLogin.tipoUsuario == 2}" value="Voltar" action="#{guiLogin.voltarMorador()}" style="margin-right: 15px "></p:commandButton>
                <p:dataTable rendered="#{guiLogin.tipoUsuario == 1}" value="#{guiMorador.caucaoUploads}" var="c" id="tblCaucaoUploadCorretor" emptyMessage="Nenhuma imagem encontrada" 
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                             paginator="true" rows="10" style="margin-top:20px">
                    <p:column style="text-align: center; " headerText="Página">
                        <p:outputLabel value="#{c.pagina}" />
                    </p:column>
                    <p:column style="text-align: center; " headerText="Imagem">
                        <img src="#{c.imagemCaucao}" width="179px" height="253px" />
                    </p:column>

                    <p:column exportable="false"  style="text-align: center; " width="21%">
                        <p:commandButton style="background-color: darkblue; border-color: darkblue;" action="#{guiMorador.alterarCaucaoUpload(c)}" title="Alterar" icon="fa fa-edit" ajax="false"></p:commandButton>
                        <p:commandButton title="Remover" style="background-color: red; border-color: red;" icon="fa fa-trash" action="#{guiMorador.removerCaucaoUpload(c)}" update="@all" >
                            <p:confirm header="Confirmação" message="Você deseja remover esta imagem? Esta ação não tem volta." icon="pi pi-exclamation-triangle" />
                        </p:commandButton>

                        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                            <p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes" icon="pi pi-check" />
                            <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no" icon="pi pi-times" />
                        </p:confirmDialog>
                    </p:column>
                </p:dataTable>
                
                <p:dataTable rendered="#{guiLogin.tipoUsuario == 2}" value="#{guiMorador.caucaoUploads}" var="c" id="tblCaucaoUploadInquilinoAtivo" emptyMessage="Nenhuma imagem encontrada" 
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                             paginator="true" rows="10" style="margin-top:20px">
                    <p:column style="text-align: center; " headerText="Página">
                        <p:outputLabel value="#{c.pagina}" />
                    </p:column>
                    <p:column style="text-align: center; " headerText="Imagem">
                        <img src="#{c.imagemCaucao}" width="179px" height="253px" />
                    </p:column>
                </p:dataTable>
            </div>
        </ui:define>

    </ui:composition>
</html>