<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/index.xhtml">

        <ui:define name="title">Duplex 2.0 - Imóveis</ui:define>

        <ui:define name="headerTitle">Imóveis</ui:define>

        <ui:define name="conteudo">
            <div class="conteudo-pagina-container">
                <p:commandButton rendered="#{guiLogin.tipoUsuario == 1}" value="Novo Imóvel" action="#{guiDuplex.novoDuplex()}" style="margin-right: 15px "></p:commandButton>
                <p:dataTable rendered="#{guiLogin.tipoUsuario == 1}" value="#{guiDuplex.duplexes}" var="d" id="tblDuplexCorretor" emptyMessage="Nenhum duplex encontrado" 
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                             paginator="true" rows="10" style="margin-top:20px">
                    <p:column style="text-align: center; " headerText="Número" filterBy="#{d.numero}" filterMatchMode="contains">
                        <p:outputLabel value="#{d.numero}" />
                    </p:column>
                    <p:column style="text-align: center; " headerText="Referência Energia" filterBy="#{d.referenciaEnergia}" filterMatchMode="contains">
                        <p:outputLabel value="#{d.referenciaEnergia}" />
                    </p:column>
                    <p:column style="text-align: center; " headerText="Endereço" filterBy="#{d.endereco}" filterMatchMode="contains">
                        <p:outputLabel value="#{d.endereco}" />
                    </p:column>
                   
                    <p:column exportable="false"  style="text-align: center; " width="21%">
                        <p:commandButton action="#{guiMorador.cadastrarMorador(d)}" title="Moradores" icon="fa fa-users" ajax="false"></p:commandButton>
                        <p:commandButton action="#{guiDuplex.alterarDuplex(d)}" title="Alterar" icon="fa fa-edit" ajax="false"></p:commandButton>
                        <p:commandButton title="Remover" style="background-color: red; border-color: red;" icon="fa fa-trash" action="#{guiDuplex.removerDuplex(d)}" update="@all" >
                            <p:confirm header="Confirmação" message="Você deseja remover esse imóvel?" icon="pi pi-exclamation-triangle" />
                        </p:commandButton>

                        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                            <p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes" icon="pi pi-check" />
                            <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no" icon="pi pi-times" />
                        </p:confirmDialog>


                    </p:column>
                </p:dataTable>
                
                <p:dataTable rendered="#{guiLogin.tipoUsuario == 2}" value="#{guiLogin.duplexes}" var="d" id="tblDuplexInquilinoAtivo" emptyMessage="Nenhum duplex encontrado" 
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                             paginator="true" rows="10" style="margin-top:20px">
                    <p:column style="text-align: center; " headerText="Número" filterBy="#{d.numero}" filterMatchMode="contains">
                        <p:outputLabel value="#{d.numero}" />
                    </p:column>
                    <p:column style="text-align: center; " headerText="Referência Energia" filterBy="#{d.referenciaEnergia}" filterMatchMode="contains">
                        <p:outputLabel value="#{d.referenciaEnergia}" />
                    </p:column>
                    <p:column style="text-align: center; " headerText="Endereço" filterBy="#{d.endereco}" filterMatchMode="contains">
                        <p:outputLabel value="#{d.endereco}" />
                    </p:column>
                   
                    <p:column exportable="false"  style="text-align: center; " width="21%">
                        <p:commandButton action="#{guiLogin.mostrarMorador(d)}" title="Morador" icon="fa fa-users" ajax="false"></p:commandButton>
                    </p:column>
                </p:dataTable>
                
                <p:dataTable rendered="#{guiLogin.tipoUsuario == 3}" value="#{guiLogin.duplexes}" var="d" id="tblDuplexCadastrante" emptyMessage="Nenhum duplex encontrado" 
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                             paginator="true" rows="10" style="margin-top:20px">
                    <p:column style="text-align: center; " headerText="Número" filterBy="#{d.numero}" filterMatchMode="contains">
                        <p:outputLabel value="#{d.numero}" />
                    </p:column>
                    <p:column style="text-align: center; " headerText="Referência Energia" filterBy="#{d.referenciaEnergia}" filterMatchMode="contains">
                        <p:outputLabel value="#{d.referenciaEnergia}" />
                    </p:column>
                    <p:column style="text-align: center; " headerText="Endereço" filterBy="#{d.endereco}" filterMatchMode="contains">
                        <p:outputLabel value="#{d.endereco}" />
                    </p:column>
                   
                    <p:column exportable="false"  style="text-align: center; " width="21%">
                        <p:commandButton action="#{guiMorador.novoMoradorCadastrante(d)}" value="Cadastro" ajax="false"></p:commandButton>
                    </p:column>
                </p:dataTable>
            </div>
        </ui:define>

    </ui:composition>
</html>