<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/index.xhtml">

        <ui:define name="title">Duplex 2.0 - Morador</ui:define>

        <ui:define rendered="#{guiLogin.tipoUsuario == 1}" name="headerTitle">Morador Imóvel: #{guiMorador.duplex.endereco} </ui:define>
        <ui:define rendered="#{guiLogin.tipoUsuario == 2}" name="headerTitle">Morador Imóvel: #{guiLogin.duplex.endereco} </ui:define>

        <ui:define name="conteudo">
            <div class="conteudo-pagina-container">
                <p:commandButton rendered="#{guiLogin.tipoUsuario == 1}" value="Novo Morador" action="#{guiMorador.novoMorador()}" style="margin-right: 15px "></p:commandButton>
                <p:dataTable rendered="#{guiLogin.tipoUsuario == 1}" value="#{guiMorador.moradores}" var="m" id="tblMoradorCorretor" emptyMessage="Nenhum morador encontrado" 
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                             paginator="true" rows="10" style="margin-top:20px">
                    <p:column width="3%" exportable="false" >
                        <p:rowToggler />
                    </p:column>
                    <p:column style="text-align: center; " headerText="Nome" filterBy="#{m.nome}" filterMatchMode="contains">
                        <p:outputLabel value="#{m.nome}" />
                    </p:column>
                    <p:column style="text-align: center; " headerText="Vencimento" filterBy="#{m.vencimento}" filterMatchMode="contains">
                        <p:outputLabel value="#{m.vencimento}" />
                    </p:column>

                    <p:column exportable="false"  style="text-align: center; " width="21%">
                        <p:commandButton style="background-color: black; border-color: black;" action="#{guiAluguel.cadastrarAluguel(m)}" title="Aluguel" icon="fa fa-money-check-alt" ajax="false"></p:commandButton>
                        <p:commandButton action="#{guiContaDeAgua.cadastrarContaDeAgua(m)}" title="Conta De Água" icon="fa fa-tint" ajax="false"></p:commandButton>
                        <p:commandButton style="background-color: darkblue; border-color: darkblue;" action="#{guiMorador.alterarMorador(m)}" title="Alterar Dados" icon="fa fa-edit" ajax="false"></p:commandButton>       
                        <p:commandButton type="button" title="Contrato" icon="fa fa-file-signature" onclick="PF('dlg2').show();" ajax="false"></p:commandButton>
                        <p:commandButton style="background-color: green; border-color: green;" type="button" title="Recibo Caução" icon="fa fa-money-bill-wave" onclick="PF('dlg1').show();" ajax="false"></p:commandButton>
                        <p:commandButton style="background-color: red; border-color: red;" action="#{guiMorador.saidaMorador(m)}" title="Saída" icon="fa fa-user-slash" ajax="false"></p:commandButton>

                        <p:dialog style="text-align: center" header="Opções do Contrato" widgetVar="dlg2" minHeight="40">
                            <p:panelGrid style="width: 500px; height: 200px;" columns="1">
                                <p:commandButton action="#{guiMorador.contratoMorador(m)}" title="Gerar Contrato" icon="fa fa-file-signature" ajax="false"></p:commandButton>
                                <p:commandButton action="#{guiMorador.cadastrarContratoUpload(m)}" title="Cadastro Imagem Contrato" icon="fa fa-upload" ajax="false"></p:commandButton>
                            </p:panelGrid>
                        </p:dialog>

                        <p:dialog header="Dados da Caução" widgetVar="dlg1" minHeight="40">
                            <p:panelGrid style="width: 500px;" columns="2">
                                <h:outputText value="Valor da Caução:" />
                                <p:inputText value="#{guiMorador.valorCaucao}"></p:inputText>
                                <h:outputText value="Valor da Caução Por Extenso:" />
                                <p:inputText value="#{guiMorador.valorCaucaoPorExtenso}"></p:inputText>
                            </p:panelGrid>
                            <p:commandButton style="text-align: center; margin: 30px 15px" action="#{guiMorador.reciboCaucao(m)}" title="Gerar Recibo" icon="fa fa-money-bill-wave" ajax="false"></p:commandButton>
                            <p:commandButton style="text-align: center; margin: 30px 15px" action="#{guiMorador.cadastrarCaucaoUpload(m)}" title="Cadastro Imagem Caução" icon="fa fa-upload" ajax="false"></p:commandButton>
                        </p:dialog>
                    </p:column>


                    <p:rowExpansion >
                        <h:panelGrid columns="2" style="background-color: #BDBDBD;">
                            <h:outputText value="Nacionalidade:" />
                            <h:outputText value="#{m.nacionalidade}"/>
                            <h:outputText value="Estado Civil:" />
                            <h:outputText value="#{m.estadoCivil}"/>
                            <h:outputText value="Profissão:" />
                            <h:outputText value="#{m.profissao}"/>
                            <h:outputText value="RG:" />
                            <h:outputText value="#{m.rg}"/>
                            <h:outputText value="Órgão Expeditor:" />
                            <h:outputText value="#{m.orgaoExpeditor}"/>
                            <h:outputText value="CPF:" />
                            <h:outputText value="#{m.cpf}"/>
                            <h:outputText value="E-mail:" />
                            <h:outputText value="#{m.email}"/>
                            <h:outputText value="Contato:" />
                            <h:outputText value="#{m.contato}"/>
                            <h:outputText value="Vencimento:" />
                            <h:outputText value="#{m.vencimento}"/>
                            <h:outputText value="Vencimento Limite:" />
                            <h:outputText value="#{m.vencimentoMaisCinco}"/>
                            <h:outputText value="Caução:" />
                            <h:outputText value="#{m.caucao}"/>
                            <h:outputText value="Local da Caução:" />
                            <h:outputText value="#{m.localDaCaucao}"/>
                            <h:outputText value="Data de Entrada:" />
                            <h:outputText value="#{m.dataEntrada}"/>
                            <h:outputText value="Data Fim do Contrato:" />
                            <h:outputText value="#{m.dataFimDoContrato}"/>
                            <h:outputText value="Data Saída:" />
                            <h:outputText value="#{m.dataSaida}"/>
                        </h:panelGrid>
                    </p:rowExpansion>
                </p:dataTable>

                <p:dataTable rendered="#{guiLogin.tipoUsuario == 2}" value="#{guiLogin.moradores}" var="m" id="tblMoradorInquilinoAtivo" emptyMessage="Nenhum morador encontrado" 
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                             paginator="true" rows="10" style="margin-top:20px">
                    <p:column width="3%" exportable="false" >
                        <p:rowToggler />
                    </p:column>
                    <p:column style="text-align: center; " headerText="Nome" filterBy="#{m.nome}" filterMatchMode="contains">
                        <p:outputLabel value="#{m.nome}" />
                    </p:column>
                    <p:column style="text-align: center; " headerText="Vencimento" filterBy="#{m.vencimento}" filterMatchMode="contains">
                        <p:outputLabel value="#{m.vencimento}" />
                    </p:column>

                    <p:column exportable="false"  style="text-align: center; " width="21%">
                        <p:commandButton style="background-color: black; border-color: black;" action="#{guiAluguel.cadastrarAluguel(m)}" title="Aluguel" icon="fa fa-money-check-alt" ajax="false"></p:commandButton>
                        <p:commandButton action="#{guiContaDeAgua.cadastrarContaDeAgua(m)}" title="Conta De Água" icon="fa fa-tint" ajax="false"></p:commandButton>
                        <p:commandButton style="background-color: green; border-color: green;" type="button" title="Recibo Caução" icon="fa fa-money-bill-wave" onclick="PF('dlg1').show();" ajax="false"></p:commandButton>
                        <p:commandButton type="button" title="Contrato" icon="fa fa-file-signature" onclick="PF('dlg2').show();" ajax="false"></p:commandButton>

                        <p:dialog style="text-align: center" header="Opções do Contrato" widgetVar="dlg2" minHeight="40">
                            <p:panelGrid style="width: 500px; height: 200px;" columns="1">
                                <p:commandButton action="#{guiMorador.cadastrarContratoUpload(m)}" title="Imagem Contrato" icon="fa fa-upload" ajax="false"></p:commandButton>
                            </p:panelGrid>
                        </p:dialog>

                        <p:dialog header="Dados da Caução" widgetVar="dlg1" minHeight="40">
                            <p:commandButton style="text-align: center; margin: 30px 15px" action="#{guiMorador.cadastrarCaucaoUpload(m)}" title="Imagem Caução" icon="fa fa-upload" ajax="false"></p:commandButton>
                        </p:dialog>
                    </p:column>
                    <p:rowExpansion >
                        <h:panelGrid columns="2" style="background-color: #BDBDBD;">
                            <h:outputText value="Nacionalidade:" />
                            <h:outputText value="#{m.nacionalidade}"/>
                            <h:outputText value="Estado Civil:" />
                            <h:outputText value="#{m.estadoCivil}"/>
                            <h:outputText value="Profissão:" />
                            <h:outputText value="#{m.profissao}"/>
                            <h:outputText value="RG:" />
                            <h:outputText value="#{m.rg}"/>
                            <h:outputText value="Órgão Expeditor:" />
                            <h:outputText value="#{m.orgaoExpeditor}"/>
                            <h:outputText value="CPF:" />
                            <h:outputText value="#{m.cpf}"/>
                            <h:outputText value="E-mail:" />
                            <h:outputText value="#{m.email}"/>
                            <h:outputText value="Contato:" />
                            <h:outputText value="#{m.contato}"/>
                            <h:outputText value="Vencimento:" />
                            <h:outputText value="#{m.vencimento}"/>
                            <h:outputText value="Vencimento Limite:" />
                            <h:outputText value="#{m.vencimentoMaisCinco}"/>
                            <h:outputText value="Caução:" />
                            <h:outputText value="#{m.caucao}"/>
                            <h:outputText value="Local da Caução:" />
                            <h:outputText value="#{m.localDaCaucao}"/>
                            <h:outputText value="Data de Entrada:" />
                            <h:outputText value="#{m.dataEntrada}"/>
                            <h:outputText value="Data Fim do Contrato:" />
                            <h:outputText value="#{m.dataFimDoContrato}"/>
                            <h:outputText value="Data Saída:" />
                            <h:outputText value="#{m.dataSaida}"/>
                        </h:panelGrid>
                    </p:rowExpansion>
                </p:dataTable>
            </div>
        </ui:define>

    </ui:composition>
</html>