<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/index.xhtml">

        <ui:define name="title">Duplex 2.0 - Histórico de Moradores</ui:define>

        <ui:define name="headerTitle">Histórico de Moradores</ui:define>

        <ui:define name="conteudo">
            <div class="conteudo-pagina-container">
                <p:dataTable value="#{guiMorador.moradores}" var="m" id="tblMorador" emptyMessage="Nenhum morador encontrado" 
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                             paginator="true" rows="10" style="margin-top:20px">
                    <p:column width="3%" exportable="false" >
                        <p:rowToggler />
                    </p:column>
                    <p:column style="text-align: center; " headerText="Duplex" filterBy="#{m.duplex.numero}" filterMatchMode="contains">
                        <p:outputLabel value="#{m.duplex.numero}" />
                    </p:column>
                    <p:column style="text-align: center; " headerText="Nome" filterBy="#{m.nome}" filterMatchMode="contains">
                        <p:outputLabel value="#{m.nome}" />
                    </p:column>
                    <p:column style="text-align: center; " headerText="Vencimento" filterBy="#{m.vencimento}" filterMatchMode="contains">
                        <p:outputLabel value="#{m.vencimento}" />
                    </p:column>

                    <p:column exportable="false"  style="text-align: center; " width="21%">
                        <p:commandButton title="Remover" style="background-color: red; border-color: red;" icon="fa fa-trash" action="#{guiMorador.removerMorador(m)}" update="@all" >
                            <p:confirm header="Confirmação" message="Você deseja remover #{m.nome}? Esta ação não tem volta." icon="pi pi-exclamation-triangle" />
                        </p:commandButton>

                        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                            <p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes" icon="pi pi-check" />
                            <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no" icon="pi pi-times" />
                        </p:confirmDialog>


                    </p:column>

                    <p:rowExpansion >
                        <h:panelGrid columns="2" style="background-color: #BDBDBD;">
                            <h:outputText value="RG:" />
                            <h:outputText value="#{m.rg}"/>
                            <h:outputText value="CPF:" />
                            <h:outputText value="#{m.cpf}"/>
                            <h:outputText value="Estado Civil:" />
                            <h:outputText value="#{m.estadoCivil}"/>
                            <h:outputText value="Profissão:" />
                            <h:outputText value="#{m.profissao}"/>
                            <h:outputText value="Caução:" />
                            <h:outputText value="#{m.caucao}"/>
                            <h:outputText value="Local da Caução:" />
                            <h:outputText value="#{m.localDaCaucao}"/>
                            <h:outputText value="Data de Entrada:" />
                            <h:outputText value="#{m.dataEntrada}"/>
                            <h:outputText value="Data Saída:" />
                            <h:outputText value="#{m.dataSaida}"/>
                        </h:panelGrid>
                    </p:rowExpansion>
                </p:dataTable>
            </div>
        </ui:define>

    </ui:composition>
</html>