<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/index.xhtml">

        <ui:define name="title">Duplex 2.0 - Usuários</ui:define>

        <ui:define name="headerTitle">Usuários</ui:define>

        <ui:define name="conteudo">
            <div class="conteudo-pagina-container">
                <p:commandButton value="Novo Usuário" action="#{guiUsuario.novoUsuario()}" style="margin-right: 15px "></p:commandButton>
                <p:dataTable value="#{guiUsuario.usuarios}" var="u" id="tblUsuariox" emptyMessage="Nenhum usuário encontrado" 
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                             paginator="true" rows="10" style="margin-top:20px">
                    <p:column style="text-align: center; " headerText="Nome do Morador" filterBy="#{u.morador.nome}" filterMatchMode="contains">
                        <p:outputLabel value="#{u.morador.nome}" />
                    </p:column>
                    <p:column style="text-align: center; " headerText="Nome do Corretor/Cadastrante" filterBy="#{u.nome}" filterMatchMode="contains">
                        <p:outputLabel value="#{u.nome}" />
                    </p:column>
                    <p:column style="text-align: center; " headerText="Tipo Usuário" filterBy="#{u.tipoUsuario}" filterMatchMode="contains">
                        <p:outputLabel value="#{u.tipoUsuario}" />
                    </p:column>
                    <p:column exportable="false"  style="text-align: center; " width="21%">
                        <p:commandButton action="#{guiUsuario.alterarUsuario(u)}" title="Alterar" icon="fa fa-edit" ajax="false"></p:commandButton>
                        <p:commandButton title="Remover" style="background-color: red; border-color: red;" icon="fa fa-trash" action="#{guiUsuario.removerUsuario(u)}" update="@all" >
                            <p:confirm header="Confirmação" message="Você deseja remover esse usuário?" icon="pi pi-exclamation-triangle" />
                        </p:commandButton>

                        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                            <p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes" icon="pi pi-check" />
                            <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no" icon="pi pi-times" />
                        </p:confirmDialog>


                    </p:column>
                </p:dataTable>
            </div>
        </ui:define>

    </ui:composition>
</html>