<!DOCTYPE HTML>
<!--
        Overflow by HTML5 UP
        html5up.net | @ajlkn
        Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Recibo de Aluguel #{guiMorador.morador.nome}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />


        <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet" type="text/css"/>
    </h:head>
    <h:body class="is-preload">
        <div>
            <h:outputText value="&#160;" />
            <h:outputText value="&#160;" />
            <h:outputText value="&#160;" />
            <h3 style="text-align: center">RECIBO</h3>
            <h:outputText value="&#160;" />
            <h:outputText value="&#160;" />
            <h:outputText value="&#160;" />
            <p style="text-align: justify">Recebi de #{guiMorador.morador.nome}, identidade #{guiMorador.morador.rg}, CPF #{guiMorador.morador.cpf}, o valor de R$ #{guiMorador.valorCaucao} (#{guiMorador.valorCaucaoPorExtenso} REAIS),
                referente
                à garantia prevista na cláusula décima quarta, do contrato de locação do imóvel
                sito à #{guiMorador.morador.duplex.endereco}.</p>
            <h:outputText value="&#160;" />
            <h:outputText value="&#160;" />
            <p>
                Esse valor tem a finalidade de cobrir, além de eventual inadimplência no
                pagamento do aluguel, despesas referentes a reparos que possam se fazer
                necessários após a desocupação do imóvel. Caso o valor necessário para cobrir
                tais despesas seja menor que o valor adiantado, a diferença será devolvida ao
                locatário, mediante apresentação de quitação com a ENEL.
            </p>
            <h:outputText value="&#160;" />
            <h:outputText value="&#160;" />
            <p style="text-align: center"><span>Macaé, #{guiMorador.dia} de #{guiMorador.mes} de #{guiMorador.ano}.</span></p>
            <h:outputText value="&#160;" />
            <h:outputText value="&#160;" />
            <h:outputText value="&#160;" />
            <p style="text-align: center"><span>___________________________________________________</span></p>
            <p style="text-align: center">FERNANDO OLIVEIRA CERVEIRA DE SOUSA</p>
        </div>
    </h:body>
</html>