<!DOCTYPE HTML>
<!--
        Overflow by HTML5 UP
        html5up.net | @ajlkn
        Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Recibo de Aluguel #{guiMorador.morador.nome}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

        
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet" type="text/css"/>
    </h:head>
    <h:body class="is-preload">
        <div>
            <h:outputText value="&#160;" />
            <h:outputText value="&#160;" />
            <h:outputText value="&#160;" />
            <h3 style="text-align: center">RECIBO</h3>
            <h:outputText value="&#160;" />
            <h:outputText value="&#160;" />
            <h:outputText value="&#160;" />
            <p style="text-align: justify">Recebi de #{guiAluguel.aluguel.morador.nome} o valor de R$ #{guiAluguel.aluguel.valor} (#{guiAluguel.aluguel.morador.valorAluguelPorExtenso} REAIS),
                a título de pagamento do aluguel do imóvel situado à #{guiAluguel.aluguel.morador.duplex.endereco}, referente ao período de #{guiAluguel.diaAnterior}/#{guiAluguel.mesAnterior}/#{guiAluguel.anoAnterior} a #{guiAluguel.diaVencimento}/#{guiAluguel.mesVencimento}/#{guiAluguel.anoVencimento}.</p>
            <h:outputText value="&#160;" />
            <h:outputText value="&#160;" />
            <p style="text-align: center"><span>Macaé, #{guiAluguel.dia} de #{guiAluguel.mes} de #{guiAluguel.ano}.</span></p>
            <h:outputText value="&#160;" />
            <h:outputText value="&#160;" />
            <h:outputText value="&#160;" />
            <p style="text-align: center"><span>___________________________________________________</span></p>
            <p style="text-align: center">FERNANDO OLIVEIRA CERVEIRA DE SOUSA</p>
        </div>
    </h:body>
</html>