<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title><ui:insert name="title">Odyssey HTS</ui:insert></title>
        <link rel="stylesheet" href="src/css/main.css" />
    </h:head>
    <h:body>
        <h:form id="form">
            <div class="menu-header-container">
                <ui:insert name="menu">
                    <div class="menu-container">
                        <img src="./src/img/sse.png"/>
                        <div class="links-menu-container">
                            <h:panelGrid columns="1" cellspacing="20">
                                <h:commandLink class="link" action="home.xhtml"><div class="link-div">HOME</div></h:commandLink>
                                <h:commandLink class="link" action="usuario.xhtml"><div class="link-div">CLIENTE</div></h:commandLink>
                                <h:commandLink class="link" action="usuario.xhtml"><div class="link-div">RELATÓRIO</div></h:commandLink>
                                <h:commandLink class="link" action="usuario.xhtml"><div class="link-div">USUÁRIO</div></h:commandLink>
                                <div class="dropdown">
                                    <span class="dropbtn"><div class="link-div">CADASTROS</div></span>
                                    <div class="dropdown-content">                                        
                                        <a href="lstAcessorio.xhtml">Acessório</a>
                                        <a href="lstAdaptador.xhtml">Adaptador</a>
                                        <a href="lstFabricante.xhtml">Fabricante</a>
                                        <a href="lstMangueira.xhtml">Mangueira</a>
                                        <a href="lstNorma.xhtml">Norma</a>
                                        <a href="lstTerminal.xhtml">Terminal</a>
                                        <a href="lstTipoTerminal.xhtml">Tipo de Terminal</a>
                                        <a href="lstTransdutor.xhtml">Transdutor</a>
                                        <a href="lstTubo.xhtml">Tubo</a>
                                    </div>
                                </div>
                                <h:commandLink class="link" action="usuario.xhtml"><div class="link-div">LISTA DE MATERIAIS</div></h:commandLink>
                            </h:panelGrid>
                        </div>
                    </div>
                </ui:insert>

                <ui:insert name="cabecalho">
                    <div class="header-container">

                    </div>
                </ui:insert>
            </div>

            <div class="conteudo-container">
                <ui:insert name="conteudo">
                    Conteúdo
                </ui:insert>
            </div>


        </h:form>
    </h:body>
</html>